{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
        {% if app.user %}
        {% trans with {'%username%': app.user.email} %}
        hello_username
        {% endtrans %} !
        <a href="{{ path('app_logout') }}"> {{ 'account.logout'|trans }}</a>
        {% else %}
            <a href="{{ path('app_login') }}"> {{ 'account.login'|trans }}</a>
        {% endif %}
{% endblock %}