{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    <h1>Catégories </h1>
    <div class="container-category">
    {% for category in categories %}
        <a href="{{ path("category_show", { categoryName: category.name }) }}" class="" >{{category.name}}</a></br>
    {% else %}
        Aucune catégorie trouvée.
    {% endfor %}
    </div>

    <p><a href="{{ path('category_new') }}">
        Ajouter une catégorie
    </a></p>

    <p><a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a></p>
{% endblock %}