$theme-colors: (
    "primary":#154360  ,
    "secondary": #bdbdbd,
);

@import "~bootstrap/scss/bootstrap";

body{
    background-color:#636462;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Texturina', serif;
    color:white;
};
.home{
    width: 100%;
    height: 91.5vh;
    position: relative;
    opacity: .6;
    }
.navbar{
    background-color:#d6dbda;
}
.nav-link{
    color:#154360;
    text-shadow: 1px 1px 2px white , 0 0 1em #154360 , 0 0 0.2em #154360 ;
}
.navbar-nav{
    display:flex;
    justify-content: space-around;
}

.container-card{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    }
.card{
    border-radius: 50px;
    background: linear-gradient(145deg, #cacaca, #f0f0f0);
    box-shadow:  10px 10px 20px #154360,
                -10px -10px 20px #154360;
    margin:2rem;            
    
}
.container-card-show{
    display:flex;
    justify-content: center;
}
.card-img-top{
    width: 80%;
    height: 40vh;
    margin-top:1rem;
    padding-left:5.5rem;
}
.countainer-category{
    display:flex;
    flex-direction: row;
}
.card-body{
    color:#154360;
}
form{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    text-shadow: 1px 1px 2px #154360 , 0 0 1em #154360 , 0 0 0.2em #154360;
}
#inputEmail, #inputPassword{
    width:50%;
    text-align:center;
    margin-bottom:1rem;
    border-radius: 60px;
    background: #bdbdbd;
    box-shadow: inset 10px 10px 20px #8a8a8a,
            inset -10px -10px 20px #f0f0f0;

}
#registration_form_email, #registration_form_plainPassword{
    width:100%;
    text-align:center;
    margin-bottom:1rem;
    border-radius: 60px;
    background: #bdbdbd;
    box-shadow: inset 10px 10px 20px #8a8a8a,
            inset -10px -10px 20px #f0f0f0;
            
}
input, select{
    width: 70vw;
    display:flex;
    justify-content: center;
}
.btn{
    color:#154360;
}
textarea{
    width: 80vw;
    height:20vh;
    display:flex;
    justify-content: center;
}
.container-list {
    display:flex;
    justify-content: space-around;
}
.container-list li {
    list-style: none;
}
h1, .navbar-brand{
    color:white;
    text-shadow: 1px 1px 2px #154360 , 0 0 1em #154360 , 0 0 0.2em #154360 ;
    text-align:center;
}
.table{
    background-color:#154360;
    color:white;
    a{
        color:white;
    }

}
.episode-index{
    color:#154360;
    li{
        list-style: none;
    }
}