$theme-colors: (
    "primary": #6E2594  ,
    "secondary": #bdbdbd,
);

@import "~bootstrap/scss/bootstrap";

body{
    background-color: white;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Texturina', serif;
    color:black;
};
.nav-link{
    color:#6E2594;
    text-shadow: 1px 1px 2px white , 0 0 1em #6E2594 , 0 0 0.2em #6E2594 ;
}
.navbar-nav{
    display:flex;
    justify-content: space-around;
}

.container-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width:30vw;
    margin-bottom:1rem;
    
}
.container-card-show{
    display:flex;
    justify-content: center;
}
.card-img-top{
    width: 100%;
    height: 70vh;
}
.countainer-category{
    display:flex;
    flex-direction: row;
}
.card-body{
    color:#6E2594;
}
form{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    text-shadow: 1px 1px 2px #6E2594 , 0 0 1em #6E2594 , 0 0 0.2em #6E2594;
}
#inputEmail, #inputPassword{
    width:50%;
    text-align:center;
    margin-bottom:1rem;
}
#registration_form_email, #registration_form_plainPassword{
    width:100%;
    text-align:center;
    margin-bottom:1rem;

}
input, select{
    width: 70vw;
    display:flex;
    justify-content: center;
}
.btn{
    color:white;
    margin-top: 0
}
textarea{
    width: 80vw;
    height:20vh;
    display:flex;
    justify-content: center;
}
.container-list {
    display:flex;
    justify-content: space-around;
}
.container-list li {
    list-style: none;
}
h1, .navbar-brand{
    color:white;
    text-shadow: 1px 1px 2px #6E2594 , 0 0 1em #6E2594 , 0 0 0.2em #6E2594 ;
    text-align:center;
}
.table{
    background-color:#6E2594;
    color:white;
    a{
        color:white;
    }

}
.episode-index{
    color:#6E2594;
    li{
        list-style: none;
    }
}