<!DOCTYPE html>
<html>
    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/build/css/app.css">
        <link rel="icon" type="image/png" href="build/cinema.jpg" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap" rel="stylesheet">
        <script src="/build/app.js"></script>
        <meta charset="UTF-8">
        <script src="https://kit.fontawesome.com/92d91ed006.js" crossorigin="anonymous"></script>
        <title>{% block title %}Wild-Series{% endblock %}</title>
        {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
    </head>
    <body>
        <header>{% include('_navbar.html.twig') %}
        
        {% for category, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        
        </header>
        {% block body %}
        {% endblock %}
        {% block javascripts %} {{ encore_entry_script_tags('app') }} {% endblock %}
    </body>
</html>